@import "tailwindcss";
@import "@heroui/styles";

@theme {
  --color-ideavault-deep: #005461;
  --color-ideavault-teal: #0c7779;
  --color-ideavault-aqua: #249e94;
  --color-ideavault-mint: #3bc1a8;
}

:root {
  --accent: oklch(0.7 0.25 260);
  --success: oklch(0.65 0.15 155);

  --card-bg: #ffffff;
  --card-bg-subtle: #f9fafb;
  --card-border: #e5e7eb;
  --card-text: #111827;
  --card-text-muted: #6b7280;
}

.dark {
  --card-bg: #030712;
  --card-bg-subtle: #111827;
  --card-border: #1f2937;
  --card-text: #ffffff;
  --card-text-muted: #9ca3af;
}

@keyframes marquee-flow {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-flow {
  animation: marquee-flow 25s linear infinite;
}

/* Swiper custom structural pagination modifications */
.cleanSwiper .swiper-pagination {
  bottom: 24px !important;
  left: 40px !important;
  text-align: left !important;
  width: auto !important;
}

.cleanSwiper .swiper-pagination-bullet {
  background: #808080 !important;
  border-radius: 0px !important;
  width: 24px !important;
  height: 3px !important;
  opacity: 0.3;
  transition: all 0.2s ease;
}

.cleanSwiper .swiper-pagination-bullet-active {
  background: #249e94 !important;
  width: 36px !important;
  opacity: 1;
}
